.profile__subtitle {
  margin: 0;
  padding-bottom: 36px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}


@media (min-width: 768px) {
  .profile__subtitle {
    padding-bottom: 0;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
}
