.profile__avatar {
  width: 120px;
  padding-bottom: 120px;
  margin-bottom: 26px;
  background-image: url(../../../images/avatar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}
